<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Smart Policing India</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}" />

</head>

<body class="home-page">
    <header>

        {% include 'navbar.html' %}
          
    </header>

    <section class="hero">
        <h1>SMART POLICING INDIA</h1>
        <p>
            Transforming Law Enforcement with <span class="highlight">AI</span>, Facial Recognition, and Real-time Surveillance
        </p>
        <div class="buttons">
            <a href="#" class="btn">Get Started</a>
            <a href="/live" class="btn secondary">Live View</a>
        </div>
    </section>

    <div class="hero-bubbles">
        <a href="/vehiclerecords" class="bubble" data-label="Home">
            <img src="/static/images/vehiclerecord.png" alt="Vehicle-Records" class="bubble-icon">
        </a>
        <a href="/liveob" class="bubble" data-label="Live">
            <img src="/static/images/livemonetring.png" alt="Live Monitoring" class="bubble-icon">
        </a>
        <a href="/crimerate" class="bubble" data-label="Crime-Rate">
            <img src="/static/images/crimerate.png" alt="Insert Video" class="bubble-icon">
        </a>
        <a href="/criminalrecords" class="bubble" data-label="Criminal-Record">
            <img src="/static/images/criminalrecords.png" alt="Contact" class="bubble-icon">
        </a>
    </div>
    
      
    

    {% include 'footer.html' %}

</body>
</html>
