<nav class="navbar">
    <div class="nav-container">
      <a href="/" class="nav-logo">
        <img src="{{ url_for('static', filename='images/police-badge.svg') }}" alt="Logo" class="logo-icon">
        <span>SmartPoli<span class="highlight">India</span></span>
      </a>
  
      <ul class="nav-menu">
        <li><a href="/" class="nav-link active">Home</a></li>
        <li><a href="/live" class="nav-link">Live Monitoring</a></li>
        <li><a href="#" class="nav-link">Insert Video</a></li>
        <li><a href="/contact" class="nav-link">Contact</a></li>
      </ul>
    </div>
  </nav>
  